.loading-overlay-enter {
  opacity: 0;
}
.loading-overlay-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.loading-overlay-exit {
  opacity: 1;
}
.loading-overlay-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
